body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

:root {
  font-size: 16px;
}

.app-message {
  text-align: center;
  padding: 2rem;
}

/* override semantic-ui styles here for now */

.post-meta span + span,
.ui.card .content span + span {
  margin-left: 1.5rem;
}

.post-meta {
  margin: -1rem 0 1rem;
}

.ui .divider {
  margin-bottom: 2rem;
}

.ui .edit-delete-thumbs {
  margin-bottom: 2rem;
  width: 80%;
}

.ui .edit-delete-thumbs button {
  text-align: left;
}
