body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

:root {
  font-size: 16px;
}

.app-message {
  text-align: center;
  padding: 2rem;
}

/* override semantic-ui styles here for now */

.ui.cards > .card > .content > .header {
  color: #6688dd;
}

.ui .button-new-post {
  float: right;
}

.ui .sort-by {
  margin-right: 0.5rem;
}

.ui .card .content span {
  margin-right: 1rem;
}
